# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Either @username and email.address@domain.com can be used

# These owners will be the default owners for everything in the repo.
* @BeateRixen

/content/change-logs/application-enablement/ @rahulc8y @janhommes @BeateRixen
/content/change-logs/device-management/ @Oezge-Akin @aaronraab @l2p- @BeateRixen
/content/change-logs/platform-services/ @martin-c8y @mgrumann @kowa-c8y @scmi-c8y @JanePorter @BeateRixen
/content/change-logs/application-enablement/dtm* @rahulc8y @lara-c8y @BeateRixen
/content/change-logs/analytics/apama-in-c8y* @BeateRixen @skom-c8y
/content/change-logs/analytics/cdh* @cheinz-sag @ChrisFurlong @BeateRixen
/content/change-logs/edge/ @bbyreddy @rthrippleton @BeateRixen

/content/datahub/ @cheinz-sag @BeateRixen
/content/device-management-application/ @Oezge-Akin @l2p- @BeateRixen
/content/dtm/ @lara-c8y @BeateRixen
content/authentication @kowa-c8y @BeateRixen
/content/edge/ @bbyreddy @rthrippleton @BeateRixen

/content/streaming-analytics/ @BeateRixen @skom-c8y
# 'block-reference-bundle' is automatically and frequently committed to - don't bother _too many_ CODEOWNERS
/content/streaming-analytics/block-reference-bundle/ @skom-c8y
