# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Either @username and email.address@domain.com can be used

# These owners will be the default owners for everything in the repo.
* @BeateRixen

/content/change-logs/application-enablement/ @rahulc8y @janhommes
/content/change-logs/application-enablement/dtm* @rahulc8y @lara-c8y
/content/change-logs/device-management/ @Oezge-Akin @aaronraab @l2p- @eliasweingaertner
/content/change-logs/platform-services/ @maga1961 @mgrumann @scmi-c8y @dhbivanova @jend-c8y @JanePorter
/content/change-logs/platform-services/ui-c8y* @rahulc8y @janhommes
/content/change-logs/analytics/apama-in-c8y* @skom-c8y
/content/change-logs/analytics/datahub* @cheinz-sag @ChrisFurlong
/content/change-logs/edge/ @bbyreddy @rthrippleton
/content/change-logs/edge-kubernetes/ @bbyreddy @rthrippleton

/content/ai/ @janhommes
/content/app-intro/ @janhommes @rahulc8y
/content/authentication/ @jacek-c8y; @mgrumann
/cloud-remote-access/ @aaronraab @l2p-
/content/cockpit/ @janhommes
/content/data-broker/ @scmi-c8y
/content/datahub/ @cheinz-sag
/content/device-certificate-authentication/ @jacek-c8y; @mgrumann
/content/device-integration/ @Oezge-Akin @l2p- @eliasweingaertner @scmi-c8y
/content/device-management-application/ @Oezge-Akin @l2p- @eliasweingaertner
/content/dtm/ @lara-c8y
/content/edge/ @bbyreddy @rthrippleton
/content/edge-kubernetes/ @bbyreddy @rthrippleton
/content/enterprise-tenant/ @jend-c8y; @mgrumann; @maga1961; @dhbivanova; @bbyreddy 
/content/get-familiar-with-the-ui/ @janhommes
/content/microservice-sdk/ @jend-c8y; @mgrumann;
/content/service-terms/ @eickler
/content/smartrest/ @l2p-
/content/standard-tenant/ @jend-c8y; @mgrumann;
/content/web/ @janhommes

/content/streaming-analytics/ @skom-c8y @ben-c8y
# 'block-reference-bundle' is automatically and frequently committed to - don't bother _too many_ CODEOWNERS
/content/streaming-analytics/block-reference-bundle/ @skom-c8y @ben-c8y
