.breadcrumbs{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: var(--c8y-font-size-small);
  background-color: var(--c8y-palette-high);
  
  span{
    display: flex;
    align-items: center;
    &:last-child{
      i{
        display: none;
      }
    }
  }
}

.breadcrumbs-link{
  color: currentColor;
  position: relative;
    display: inline-block;

    &::after {
      content: '';
      transform-origin: 100% 50%;
      transform: scale3d(0, 1, 1);
      transition: transform 0.3s;
      position: absolute;
      width: clamp(3ch, 100%, 100%);
      height: .2em;
      background: var(--link-underline, var(--c8y-palette-yellow-60));
      top: 1.35em;
      left: 0;
      pointer-events: none;
      z-index: 10;
    }

    &:hover,
    &:focus {
      z-index: 1;
      color: currentColor;
      &::after {
        transform-origin: 0% 50%;
        transform: scale3d(1, 1, 1);
      }
    }
}
