<!DOCTYPE HTML>

<html>

<body>

<!-- The text of this page should appear at the bottom of the printed PDF page, so we need to use CSS formatting
-->


<div style="border-top: 25cm solid white;">

<p>This content applies to release 2026 of Cumulocity.</p>

<p>Specifications contained herein are subject to change and these changes will be reported in subsequent versions.</p>

<p>Copyright &copy; {{ current_year  }} Cumulocity GmbH.</p>

<p>The name Cumulocity GmbH and all Cumulocity GmbH product names are either trademarks or registered trademarks of Cumulocity GmbH and/or its subsidiaries and/or its affiliates and/or their licensors. Other company and product names mentioned herein may be trademarks of their respective owners.</p>

<p>This software may include portions of third-party products. Third-party terms are set out in a 3rd-party-licenses file linked to or included with each installation package.</p>

</div>

</body>

</html>
